/* Barra de Pesquisa */
.oque{

    position: relative;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    top: 20px;
    width: 700px;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    color: rgb(131, 131, 131);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.oq{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}



.my-form {
    width: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.cabecalho {
    background-color: rgb(131, 131, 131);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.foto {
    width: 50%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

/* lupa */
.foto img {
    width: 4%; 
    position: relative;
    left: 935px;
    bottom: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

/* inicio */
.in{
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    bottom: 15px;
    width: 1440px;
    padding: 1%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

/* inicio */
.on{
    position: relative;
    font-size: 12px;
    top: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

/* marcas */
.m{
    position: relative;
    top: -15px;
    width: 1440px;
    padding: 4%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.nike{
    position: relative;
    width: 70px;
    left: 205px;
    bottom: 150px;
}

.puma{
    position: relative;
    width: 65px;
    left: 325px;
    bottom: 147px;
}

.adidas{
    position: relative;
    width: 60px;
    left: -278px;
    bottom: 153px;
}

.vanz{
    position: relative;
    width: 70px;
    left: -215px;
    bottom: 150px;
}


.new_balance{
    position: relative;
    width: 70px;
    left: 268px;
    bottom: 150px;
}

.loius{
    position: relative;
    width: 50px;
    left: -758px;
    bottom: 150px;
}

.bola{
    position: relative;
    width: 100px;
    left: 200px;
    bottom: 150px;
}

.bola2{
    position: relative;
    width: 100px;
    left: 300px;
    bottom: 150px;
}

.bola3{
    position: relative;
    width: 100px;
    left: 400px;
    bottom: 150px;
}

.bola4{
    position: relative;
    width: 100px;
    left: 500px;
    bottom: 150px;  
}

.bola5{
    position: relative;
    width: 100px;
    left: 600px;
    bottom: 150px; 
}

.bola6{
    position: relative;
    width: 100px;
    left: 700px;
    bottom: 150px;
}

.card{
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.card2{
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.card3{
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}



.img5{
    position: relative;
    width: 1430px;
    bottom: 130px;
    
}

.img-estrela{
    position: relative;
    bottom: 435px;
    left: 420px;
    width: 20px;
}

.img-estrela2{
    position: relative;
    bottom: 435px;
    left: 370px;
    width: 20px;
}

.img-estrela3{
    position: relative;
    bottom: 435px;
    left: 320px;
    width: 20px;
}

.img-estrela4{
    position: relative;
    bottom: 435px;
    left: 270px;
    width: 20px;
}

.img-estrela5{
    position: relative;
    bottom: 435px;
    left: 220px;
    width: 20px;
}



.img-estrela6{
    position: relative;
    bottom: 460px;
    right: -800px;
    width: 20px;
}

.img-estrela7{
    position: relative;
    bottom: 460px;
    right: -750px;
    width: 20px;
}

.img-estrela8{
    position: relative;
    bottom: 460px;
    right: -700px;
    width: 20px;
}

.img-estrela9{
    position: relative;
    bottom: 460px;
    right: -650px;
    width: 20px;
}

.img-estrela10{
    position: relative;
    bottom: 460px;
    right: -600px;
    width: 20px;
}



.img-estrela11{
    position: relative;
    bottom: 485px;
    right: -1180px;
    width: 20px;
}

.img-estrela12{
    position: relative;
    bottom: 485px;
    right: -1130px;
    width: 20px;
}

.img-estrela13{
    position: relative;
    bottom: 485px;
    right: -1080px;
    width: 20px;
}

.img-estrela14{
    position: relative;
    bottom: 485px;
    right: -1030px;
    width: 20px;
}

.img-estrela15{
    position: relative;
    bottom: 485px;
    right: -980px;
    width: 20px;
}


.po{
    position: relative;
    justify-content: center;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 5px;
    left: 380px;
    bottom: -10px;
    width: 600px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
} 

.destaque{
    position: relative;
    font-size: 25px;
    right: -70px;
    bottom: 570px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.card-title1{
    position: relative;
    color: rgb(107, 107, 107);
    left: -27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.card-title2{
    position: relative;
    color: rgb(107, 107, 107);
    left: -27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.card-title3{
    position: relative;
    color: rgb(107, 107, 107);
    left: -27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.card-text1{
    position: relative;
    left: -100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.card-text2{
    position: relative;
    left: -100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.card-text3{
    position: relative;
    left: -100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.btn1{
    border: 2px solid rgb(199, 199, 199);
    width: 1440px;
    padding: 4%;
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 

}

.btn2{
    border: 2px solid rgb(199, 199, 199);
    width: 1440px;
    padding: 4%;
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.btn3{
    border: 2px solid rgb(199, 199, 199);
    width: 1440px;
    padding: 4%;
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.street{
    position: relative;
    left: 20px;
    bottom: 1600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.carrinho{
    position: relative;
    width: 30px;
    bottom: 1845px;
    left: 1320px;
}

.icone{
    position: relative;
    width: 60px;
    bottom: 1845px;
    left: 1230px;
}

.teniss{
    position: relative;
    width: 380px;
    bottom: 50px;
    left: 330px;
    border-radius: 5px;
}

.tenis2{
    position: relative;
    width: 80px;
    bottom: 210px;
    left: -150px;
    border-radius: 5px;
}

.tenis3{
    position: relative;
    width: 80px;
    bottom: 100px;
    left: -235px;
    border-radius: 5px;
}


.tenis4{
    position: relative;
    width: 80px;
    bottom: -25px;
    left: -318px;
    border-radius: 5px;
}

.vanzz{
    position: relative;
    font-size: 20px;
    left: 850px;
    bottom: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.preço{
    position: relative;
    font-size: 20px;
    left: 850px;
    bottom: 505px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.doze{
    position: relative;
    font-size: 13px;
    left: 850px;
    bottom: 510px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.tamanho{
    position: relative;
    font-size: 11px;
    left: 851px;
    bottom: 490px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.n40{
    position: relative;
    font-size: 12px;
    left: 851px;
    bottom: 499.3px;
    border: 1px solid rgb(133, 133, 133);
    background-color: rgb(219, 219, 219);
    width: 25px;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.n41{
    position: relative;
    font-size: 12px;
    left: 890px;
    bottom: 536px; 
    border: 1px solid rgb(133, 133, 133);
    width: 25px;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.n42{
    position: relative;
    font-size: 12px;
    left: 930px;
    bottom: 572px; 
    border: 1px solid rgb(133, 133, 133);
    width: 25px;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.n44{
    position: relative;
    font-size: 12px;
    left: 970px;
    bottom: 608px; 
    border: 1px solid rgb(133, 133, 133);
    width: 25px;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.um{
    position: relative;
    font-size: 15px;
    left: 850px;
    bottom: 590px; 
    border: 1px solid rgb(145, 145, 145);
    width: 80px;
    height: 30px;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.umm{
    position: relative;
    left: 32px;
    bottom: -3px;
}

.compra{
    position: relative;
    font-size: 13px;
    left: 950px;
    bottom: 637px; 
    border: 1px solid rgb(255, 255, 255);
    width: 210px;
    height: 32px;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.comprarr{
    position: relative;
    left: 75px;
    bottom: -3px;
}

.nn40{
    position: relative;
    left: 4px;
    bottom: 1px;
}

.nn41{
    position: relative;
    left: 4px;
    bottom: 1px; 
}

.nn42{
    position: relative;
    left: 4px;
    bottom: 1px; 
}

.nn44{
    position: relative;
    left: 4px;
    bottom: 1px;  
}

.meios{
    position: relative;
    font-size: 10px;
    bottom: 637px;
    left: 880px;
}

.cep{
    position: relative;
    border: 1px solid rgb(180, 180, 180);
    width: 255px;
    height: 35px;
    color: rgb(180, 180, 180);
    border-radius: 2px;
    bottom: 650px;
    left: 850px;
}

.cepp{
    position: relative;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    left: 10px;
}

.calcular{
    position: relative;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    left: 13px;
    bottom: -2px;
}

.calc{
    position: relative;
    color: rgb(255, 255, 255);
    width: 70px;
    bottom: 701px;
    left: 1115px;
    height: 36px;
    background-color: black;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}

.caminhao{
    position: relative;
    width: 17px;
    bottom: 780px;
    left: 853px;
}

.insta{
    position: relative;
    font-size: 12px;
    bottom: 550px;
    left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.icone-insta{
    position: relative;
    width: 15px;
    bottom: 590px;
    left: 60px;
}







   
    